* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  background: var(--color-bg);
  display: grid;

  grid-template-columns: 175px auto;
  grid-template-rows: 48px auto;
  grid-template-areas:
    "header header"
    "nav content";
}

#main--header {
  grid-area: header;

  background: var(--color-primary);
  padding: var(--spacing-unit);
  color: var(--color-white);
}

#main--header-title {
  font-size: 1.5rem;
}

#main--nav {
  grid-area: nav;

  background: var(--color-white);
}
